.dropdown {
  &__trigger {
    transition: all 0.5s;
    &:hover {
      color: darkorange;
    }
    cursor: pointer;
  }
  &__content {
    right: 0;
    width: 100px;
    position: absolute;
    background: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .btn-link {
      text-align: center;
      padding: 10px 0;
      &:hover {
        color: orange;
      }
    }
  }
}
