.journal-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.day-container {
  padding: 15px;
  border: 1px solid #000;
  border-radius: 8px;
  background: #fafafa;
  .day-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .day-body {
    margin-top: 10px;
  }
}
